
.mainMenu{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, rgb(74, 107, 123) 50%);

}
/** Text field styles */
.textField1{
	-fx-min-width: 300px;
    -fx-min-height: 20px;
    -fx-max-width: 350px;
    -fx-max-height: 30px;
    -fx-pref-width: 325px;
    -fx-pref-height: 25px;
    
    -fx-background-color:moccasin;
    -fx-border-color:  #DD99FF;
    
    -fx-font-size: 12px;
	-fx-font-family: arial, helvetica, sans-serif;
	-fx-text-fill: #440077
}

/** Label Styles */
.labelA {
    -fx-font-size: 64px;
    -fx-font-family: "Helvetica";
    -fx-text-fill: #4a0200
}

/** Button Styles */
.buttonStyleA {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Monospace";
    -fx-font-weight: 800;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.buttonStyleA:armed{
 -fx-background-color: linear-gradient(#800000, #191d22);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Monospace";
    -fx-font-weight: 800;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}

.buttonSizeA{
	    
    -fx-min-width: 135px;
    -fx-min-height: 37px;
    -fx-max-width: 150px;
    -fx-max-height: 50px;
    -fx-pref-width: 137px;
    -fx-pref-height: 40px;
    
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
}

#WhiteSquare {
    -fx-background-color: #fef9f3;
    -fx-border-color: #000000;
}

#BlackSquare {
    -fx-background-color: #3f301d;
    -fx-border-color: #000000;
}

#SelectedSquare {
    -fx-background-color: #0a0468;
    -fx-border-color: #000000;
}

#ValidSquare {
    -fx-background-color: #5573d6;
    -fx-border-color: #000000;
}

#CheckSquare {
    -fx-background-color: #d1f72c;
    -fx-border-color: #000000;
}

#Title {
    -fx-font-size: 32px;
    -fx-font-family: "Helvetica";
}

.rank_fileLabel {
    -fx-font-size: 32px;
}